body {
    background-color: black;
  }
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  
  .poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: #F39F5A;
    font-family: "Libre Baskerville", serif;
    text-align: center;
  }
  
  .darknight-img {
    border: 5px solid white;
    width: 100%;
  }
  #new {
    color: white;
    text-align: center;
  }